@font-face {
  font-family: "CountachBold";
  src: url("/assets/Countach-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --purple-primary: rgb(95, 1, 188);
  --purple-active: rgb(118 44 251);
  --grey-hovered: rgb(196, 196, 196);
  --background: rgb(21, 21, 21);
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: white;
  margin: 0;
  padding: 0;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: var(--purple-active);
  color: white;
  font-size: smaller;
  font-weight: bold;
  padding: 8px 0;
  position: relative;
}
.marquee__content {
  display: flex;
  align-items: center;
  gap: 30px;
  animation: scroll 10s linear infinite;
  padding-right: 2rem;
}
.marquee span {
  display: inline-block;
  position: relative;
}

.marquee__hero {
  background-color: var(--background);
  font-size: 80px;
  padding: 40px 0;
  font-family: "CountachBold", sans-serif;
  letter-spacing: 3px !important;
}

.header {
  background-color: var(--background);
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: backdrop-filter 0.4s ease, background 0.4s ease;
}
.header .nav {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .logo-desk {
  display: block;
}
.header .nav .logo-mobile {
  display: none;
}
.header .nav .payment-methods {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--background);
  padding: 5px 20px;
  border-radius: 50px;
  border: 2px solid var(--purple-primary);
}
.header .nav .payment-methods p {
  font-size: small;
  margin: 0 10px;
}
.header .nav .nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .nav .nav-links a {
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}
.header .nav .nav-links a:hover {
  color: var(--grey-hovered);
  transition: 0.2s;
}
.header .nav .nav-links button {
  cursor: pointer;
  background-color: var(--purple-active);
  transition: 0.2s;
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
}
.header .nav .nav-links button:hover {
  background-color: var(--purple-primary);
  transition: 0.2s;
}

.header.scrolled {
  background-color: rgba(101, 101, 101, 0.167);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.section {
  margin: 0 15%;
}

.hero {
  position: relative;
  padding-top: 20px;
}
.hero .hero-image {
  width: 100%;
  border-radius: 10px;
  animation: fadeIn 0.8s ease forwards;
}
.hero .hero-button button {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background-color: var(--purple-active);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-family: "CountachBold", sans-serif;
}
.hero .hero-button button:hover {
  background-color: var(--purple-primary);
  transition: background-color 0.2s ease-in-out;
}

.featured-products {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-products .product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.featured-products .product-card {
  text-decoration: none;
}
.featured-products .product-card .product-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.featured-products .product-card .product-card-image {
  position: relative;
  border: 4px solid var(--purple-primary);
  border-radius: 8px;
  height: 350px;
  width: 100%;
  overflow: hidden;
}
.featured-products .product-card .product-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform-origin: center;
  transition: 0.2s ease-in-out;
  animation: fadeIn 0.8s ease forwards;
}
.featured-products .product-card .product-card-image .product-card-tags {
  position: absolute;
  bottom: 0;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 10px 5px;
}
.featured-products .product-card .product-card-image .product-card-tags li {
  background-color: var(--purple-active);
  color: white;
  border-radius: 50px;
  padding: 3px 10px;
  font-size: x-small;
}
.featured-products .product-card .product-card-image:hover {
  border-color: var(--purple-active);
  transition: 0.2s ease-in-out;
}
.featured-products .product-card .product-card-image:hover img {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
.featured-products .product-card .product-card-details {
  padding: 10px 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.featured-products .product-card .product-card-details h2,
.featured-products .product-card .product-card-details p {
  font-size: small;
  margin: 0;
}
.featured-products .product-card .product-card-button {
  border-radius: 50px;
  border: transparent;
  cursor: pointer;
  padding: 8px 10px;
  background-color: var(--purple-active);
  transition: 0.2s ease-in-out;
}
.featured-products .product-card .product-card-button:hover {
  background-color: var(--purple-primary);
  transition: 0.2s ease-in-out;
}
.featured-products .show-more-button {
  margin-top: 30px;
  background-color: var(--purple-active);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  color: white;
  width: 200px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-family: "CountachBold", sans-serif;
}
.featured-products .show-more-button:hover {
  background-color: var(--purple-primary);
  transition: background-color 0.2s ease-in-out;
}

.collections {
  background: rgb(118, 44, 251);
  background: radial-gradient(circle at center 25%, rgb(118, 44, 251) 0%, rgba(255, 255, 255, 0) 20%);
}
.collections .collections-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 80px;
  letter-spacing: 2px;
  font-family: "CountachBold", sans-serif;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}
.collections .collections-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.collections .collections-list .collections-item {
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  color: white;
  height: 350px;
  width: 100%;
  overflow: hidden;
}
.collections .collections-list .collections-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform-origin: center;
  transition: 0.2s ease-in-out;
  animation: fadeIn 0.8s ease forwards;
}
.collections .collections-list .collections-item h5 {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  font-size: 24px;
  margin: 0;
}
.collections .collections-list .collections-item:hover {
  border-color: var(--purple-active);
  transition: 0.2s ease-in-out;
}
.collections .collections-list .collections-item:hover img {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
.collections .collections-bottom-banner {
  margin: 40px 0;
}
.collections .collections-bottom-banner img {
  width: 100%;
  border-radius: 10px;
  animation: fadeIn 0.8s ease forwards;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 40px 0;
}
.footer-content .footer-link {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}
.footer-content .footer-link:hover {
  color: var(--grey-hovered);
  transition: 0.2s;
}
.footer-content .footer-logo a {
  display: flex;
  align-items: center;
  color: white;
  margin: 0;
  text-decoration: none;
  margin-bottom: 40px;
}
.footer-content .footer-logo a img {
  width: 60px;
  height: 70px;
}
.footer-content .footer-logo a span {
  font-family: "CountachBold", sans-serif;
  font-size: 40px;
}
.footer-content .footer-logo a span::before {
  content: " | ";
  color: var(--purple-primary);
}
.footer-content .footer-logo .footer-p {
  font-size: small;
  margin: 2px 0;
  color: white;
  display: flex;
  max-width: 200px;
  gap: 5px;
}
.footer-content .footer-logo .footer-p a {
  margin-bottom: 0;
}
.footer-content .footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.footer-content .footer-links .footer-links-top {
  font-size: larger;
  display: flex;
  gap: 40px;
}
.footer-content .footer-links .footer-links-bottom {
  font-size: small;
  display: flex;
  gap: 40px;
}
.footer-content .footer-links .footer-payment-methods {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-content .footer-links .footer-payment-methods p {
  font-size: small;
  margin-right: 10px;
}
.footer-content .footer-socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-content .footer-socials .footer-newsletter {
  margin-bottom: 30px;
}
.footer-content .footer-socials .footer-newsletter p {
  font-size: smaller;
}
.footer-content .footer-socials .footer-newsletter form {
  background-color: rgb(51, 51, 51);
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 230px;
}
.footer-content .footer-socials .footer-newsletter form input {
  background-color: transparent;
  border: none !important;
  color: white;
  font-size: medium;
}
.footer-content .footer-socials .footer-newsletter form input:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
.footer-content .footer-socials .footer-newsletter form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.footer-content .footer-socials .footer-social-links {
  display: flex;
  font-size: small;
  gap: 15px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet-only styles */
  .section {
    margin: 0 8%;
  }
  .payment-methods {
    display: none !important;
  }
  .featured-products {
    margin-bottom: 80px;
  }
  .featured-products .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 1023px) {
  /* Mobile and tabled shared styles */
  .footer-content {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-content .footer-logo {
    order: 3;
  }
  .footer-content .footer-links {
    order: 1;
    align-items: flex-start;
  }
  .footer-content .footer-links .footer-links-top {
    font-size: x-large;
    flex-direction: column;
  }
  .footer-content .footer-links .footer-links-bottom {
    flex-direction: column;
    gap: 10px;
  }
  .footer-content .footer-links .footer-payment-methods {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .footer-content .footer-links .footer-payment-methods p {
    font-size: small;
    margin: 0;
  }
  .footer-content .footer-socials {
    order: 2;
  }
  .footer-content .footer-socials .footer-social-links {
    display: none;
  }
}
@media (max-width: 767px) {
  /* Mobile-only styles */
  .marquee {
    padding: 0.75rem 0;
  }
  .marquee__content {
    animation: scroll 5s linear infinite;
  }
  .marquee span {
    font-size: 0.9em;
  }
  .marquee__hero {
    padding: 50px 0;
  }
  .logo-desk {
    display: none !important;
  }
  .logo-mobile {
    display: block !important;
  }
  .nav {
    padding: 5px 0 !important;
    margin: 0 15px !important;
  }
  .section {
    margin: 0 10%;
  }
  .payment-methods {
    display: none !important;
  }
  .hero {
    border-radius: 8px;
    height: 450px;
    overflow: hidden;
  }
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .featured-products {
    margin-bottom: 80px;
  }
  .featured-products .product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .collections {
    background: rgb(118, 44, 251);
    background: radial-gradient(circle at center 18%, rgb(118, 44, 251) 0%, rgba(255, 255, 255, 0) 20%);
  }
  .collections .collections-title {
    gap: 0;
    font-size: 40px;
    align-items: flex-start;
  }
  .collections .collections-title img {
    margin-top: 10px;
    width: 30x;
    height: 30px;
  }
  .collections .collections-list {
    display: flex;
    flex-direction: column;
  }
  .collections .collections-list .collections-item {
    height: 400px;
  }
  .collections .collections-bottom-banner {
    border-radius: 8px;
    height: 450px;
    overflow: hidden;
  }
  .collections .collections-bottom-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
