<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Shuffle Store | Gradiweb</title>
</head>
<body>
  <!-- HEADER -->
  {% include 'header.liquid' %}
  <!-- HERO COMPONENT -->
  {% include 'hero.liquid' %}
  <!-- FEATURED PRODUCTS COMPONENT -->
  {% include 'featured-products.liquid' %}
  <!-- COLLECTIONS COMPONENT -->
  {% include 'collections.liquid' %}
  <!-- FOOTER COMPONENT -->
  {% include 'footer.liquid' %}
  <script src="/main.js"></script>
</body>
</html>